{% load static %}
{% include 'layouts/header.html' %}

  <div class="px-content">
    <div class="page-header">
      <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Seller / </span></h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Add Seller</div>
          </div>
          <div class="panel-body">
            <form action="insertseller" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="grid-input-16">Seller Name:</label>
                  <input type="text" id="grid-input-16" class="form-control" name="u_name">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="grid-input-17">Email:</label>
                  <input type="text" id="grid-input-17" class="form-control" name="u_email">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="grid-input-18">Contact Number:</label>
                  <input type="text" id="grid-input-18" class="form-control" name="u_phno">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="grid-input-19">Address:</label>
                <textarea id="" cols="84" rows="1" name="u_address"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="grid-input-18">GST no:</label>
                  <input type="text" id="grid-input-18" class="form-control" name="u_gst">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="grid-input-19">Pan no:</label>
                  <input type="text" id="grid-input-19" class="form-control" name="u_panno">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="grid-input-18">Service tax no:</label>
                  <input type="text" id="grid-input-18" class="form-control" name="u_servicetaxno">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="grid-input-19">Documents:</label>
                  <input type="file" id="grid-input-19" class="form-control" name="u_documents">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <input type="submit" id="grid-input-18" value="submit" class="form-control" name="u_servicetaxno">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'layouts/footer.html' %}
