{% load static %}

  {% include 'layouts/header.html' %}
  <div class="px-content">
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Dashboard</li>
    </ol>

    <div class="page-header">
      <div class="row">
        <div class="col-md-4 text-xs-center text-md-left text-nowrap">
          <h1><i class="page-header-icon ion-ios-pulse-strong"></i>Dashboard</h1>
        </div>

        <hr class="page-wide-block visible-xs visible-sm">

        <!-- Spacer -->
        <div class="m-b-2 visible-xs visible-sm clearfix"></div>

        
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">

        <!-- Uploads -->

        <div class="panel box">
          <div class="box-row">
            <div class="box-cell col-md-4 p-a-3 valign-top">
              <h4 class="m-y-1 font-weight-normal"><i class="fa fa-cloud-upload text-primary"></i>&nbsp;&nbsp;Uploads</h4>
              <ul class="list-group m-x-0 m-t-3 m-b-0">
                <li class="list-group-item p-x-1 b-x-0 b-t-0">
                  <span class="label label-primary pull-right">34</span>
                  Documents
                </li>
                <li class="list-group-item p-x-1 b-x-0">
                  <span class="label label-danger pull-right">128</span>
                  Audio
                </li>
                <li class="list-group-item p-x-1 b-x-0 b-b-0">
                  <span class="label label-info pull-right">12</span>
                  Videos
                </li>
              </ul>
            </div>
            <div class="box-cell col-md-8 p-a-1 bg-primary">
              <div id="hero-graph" style="height: 220px;"></div>
            </div>
          </div>
        </div>

        <!-- / Uploads -->

        <!-- Pie charts -->

        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="panel box">
              <div class="box-row">
                <div class="box-cell p-x-2 p-y-1 bg-black text-xs-center font-size-11 font-weight-semibold">
                  <i class="fa fa-globe"></i>&nbsp;&nbsp;BANDWIDTH
                </div>
              </div>
              <div class="box-row">
                <div class="box-cell p-y-2">
                  <div class="easy-pie-chart" data-suffix="TB" id="easy-pie-chart-1"><span class="font-size-14 font-weight-light"></span></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="panel box">
              <div class="box-row">
                <div class="box-cell p-x-2 p-y-1 bg-black text-xs-center font-size-11 font-weight-semibold">
                  <i class="fa fa-flash"></i>&nbsp;&nbsp;PICK LOAD
                </div>
              </div>
              <div class="box-row">
                <div class="box-cell p-y-2">
                  <div class="easy-pie-chart" data-suffix="%" id="easy-pie-chart-2"><span class="font-size-14 font-weight-light"></span></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="panel box">
              <div class="box-row">
                <div class="box-cell p-x-2 p-y-1 bg-black text-xs-center font-size-11 font-weight-semibold">
                  <i class="fa fa-cloud"></i>&nbsp;&nbsp;USED RAM
                </div>
              </div>
              <div class="box-row">
                <div class="box-cell p-y-2">
                  <div class="easy-pie-chart" data-suffix="GB" id="easy-pie-chart-3"><span class="font-size-14 font-weight-light"></span></div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- / Pie charts -->

      </div>
      <div class="col-md-4">

        <!-- Stats -->

        <a href="#" class="box bg-danger">
          <div class="box-cell p-a-3 valign-middle">
            <i class="box-bg-icon middle right ion-arrow-graph-up-right"></i>

            <span class="font-size-24">$<strong>145</strong></span><br>
            <span class="font-size-15">Earned today</span>
          </div>
        </a>

        <div class="panel box">
          <div class="box-row">
            <div class="box-container">
              <div class="box-cell p-a-1 bg-info">
                <div class="m-b-1 font-size-11">RETWEETS GRAPH</div>
                <div id="sparkline-1"></div>
              </div>
            </div> <!-- / .box-container -->
          </div>
          <div class="box-row">
            <div class="box-container valign-middle text-xs-center">
              <div class="box-cell p-y-1 b-r-1">
                <div class="font-size-17"><strong>312</strong></div>
                <div class="font-size-11">TWEETS</div>
              </div>
              <div class="box-cell p-y-1 b-r-1">
                <div class="font-size-17"><strong>1000</strong></div>
                <div class="font-size-11">FOLLOWERS</div>
              </div>
              <div class="box-cell p-y-1">
                <div class="font-size-17"><strong>523</strong></div>
                <div class="font-size-11">FOLLOWING</div>
              </div>
            </div> <!-- / .box-container -->
          </div>
        </div>

        <div class="box bg-warning">
          <div class="box-row">
            <div class="box-cell p-a-2">
              <div class="font-weight-semibold font-size-17">15% more</div>
              <div class="font-size-12">Monthly visitor statistics</div>
            </div>
          </div>
          <div class="box-row">
            <div class="box-cell p-x-2 p-b-1 valign-bottom text-xs-center">
              <span id="sparkline-2"></span>
            </div>
          </div>
        </div>

        <!-- / Stats -->

      </div>
    </div>

    <hr class="page-block m-t-0">

  </div>
  {% include 'layouts/footer.html' %}
